DATABASE_URL=postgresql://neondb_owner:VOTRE_MOT_DE_PASSE@VOTRE_ENDPOINT_NEON/neondb?sslmode=require&channel_binding=require
GEE_SERVICE_ACCOUNT_KEY={}
HF_MODEL_URL=https://andritinatonny-agrisat.hf.space
GOOGLE_MAPS_API_KEY=your-google-maps-key
PORT=3001
HOST=0.0.0.0
FRONTEND_ORIGIN=http://localhost:8080
